@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #000F2A;
}

h3{
	font-family: "Poppins";
	color: #fff;
	font-size: 28px;
}

label{
	font-family: "Poppins";
	color: #fff;
	font-size: 18px;
}

p{
	margin-top: 10px;
	color: #fff;
	font-size: 16px;
}

.btn{
	outline: none;
	border: none;
	width: 200px;
    height: 50px;
    background: #4285F4;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: border-left, border-right, box-shadow;
}

.btn:hover{
	color: #fff;
	border-left: solid 8px rgba(255, 255, 255, 0.5);
    border-right: solid 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 100px rgba(66, 133, 244, 0.8);
}

a {
	color: #fff;
	font-size: 18px;
}

a:hover{
	color: #AAAAAA;
}


